<div class="ownData">
  <div class="container">
 <div class="ownData--flex">
   <div class="ownData--description">
     <h1 class="ownData--description--title">Hi, I am John,
       Creative Technologist</h1>
     <p class="ownData--description--text">Amet minim mollit non deserunt ullamco est sit
       aliqua dolor do amet sint. Velit officia consequat
       duis enim velit mollit. Exercitation veniam consequat
       sunt nostrud amet.</p>
     <button class="ownData--description--button">Download Resume</button>
   </div>

   <div class="Johns-image">
     <img src="../../../assets/Ellipse 1.png" alt="no image">
   </div>
 </div>
  </div>
</div>

<div class="resentPosts">
  <div class="container">
    <div class="resentPosts--flex">g
